# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual Environment
venv/
env/

# Streamlit
.streamlit/

# Database
*.db
*.sqlite3

# Environment Variables
.env

# Logs
logs/
*.log

# VS Code
.vscode/

# macOS
.DS_Store